@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Gupter:wght@400;500;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
.poppins-thin {
    font-weight: 100;
    font-style: normal;
  }

.poppins-extralight {
    font-weight: 200;
    font-style: normal;
  }

.input{
    border: none;
    outline: none;
}

.input:focus{
    border: none;
    box-shadow: none;
}

.input:active{
    border: none;
}

.delete{
    background: none; 
    border: none;   
    padding: 0;   
    margin: 0;
    font: inherit;  
    cursor: pointer; 
    outline: none;
    color: rgb(255, 0, 0);
}

.button {
    background-color: rgb(255, 69, 69);
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
    
}